extends layout

block content
  if user
    a(href="/messageForm" class="button") Create New Message?
  if posts
    div(class = "posts")
      each post in posts 
        div(class="post") 
          h3(class="postTitle") #{post.title}
          hr
          p  #{post.message}
          if user
            p(class="postName") By #{post.user.firstName} #{post.user.lastName}
            p(class="postTime") #{post.timestamp}
            if user.admin 
              form(action="/deletePost", method="post") 
                input(type="hidden", name="postID", required="true" value = post._id)
                button(type="submit" class="button") Delete Post
      else 
        p There are currently no posts  
  else 
    p There are currently no posts  